* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.main_nav {
 position: fixed;
 top: 0;
 left: 0;
 width: 300px;
 height: calc(100% - 90px);
 background-color: grey;
 /* min-height: per lasciar scivolare il piccolo nav +nuova playlist */
}

.main_content {
 width: calc(100% - 300px);
 margin-left: 300px;
 background: white;
}

footer {
 position: fixed;
 bottom: 0;
 left: 0;
 height: 90px;
 width: 100%;
 background-color: lightgrey;
}
