* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: grey;
  font-family: 'Roboto', sans-serif;
}
/* UTILITY */
.home,
.search,
.library {
  width: 20px;
  margin-left: 15px;
}

.grey {
  color: grey;
}
.grey:hover {
  color: white;
}
/* UTILITY */

/* MAIN NAV */
.main_nav {
 position: fixed;
 top: 0;
 left: 0;
 width: 300px;
 height: calc(100% - 90px);
 background-color: black;
 /* min-height: per lasciar scivolare il piccolo nav +nuova playlist */
}

.logo {
  margin-bottom: 20px;
  padding: 10px 10px;
}
.logo img {
  max-width: 150px;
}

.menu_link a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  margin-top: 10px;
  padding: 0px 5px 0 0;
}
.menu_link a:hover {
  color: white;
}

.icon_home {
  color: white;
  border-left: 5px solid green;
}

/* playlist- */
.playlist {
  margin-top: 20px;
  margin-left: 20px;
  color: white;
}
.playlist h4 {
  font-size: 15px;
}
.playlist span {
  font-size: 10px;
}

.list_playlist {
  display: flex;
  align-items: center;
}

.plus_playlist {
  font-size: 30px;
  color: grey;
}

.crea_playlist  {
  font-size: 15px;
  text-decoration: none;
  margin: 0 10px;
  color: grey;
  cursor: pointer;
}
.plus_playlist:hover {
  color: white;
}

.crea_playlist:hover {
  color: white;
}

.nome_playlist ul {
  list-style: none;
}
.nome_playlist li {
  padding: 5px 0px 0px 0px;
  cursor: pointer;
}
.name_play:hover {
  color: white;
}
.nome_playlist span {
  color: grey;
}
/* fine playlist- */
.installa-app {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  margin-left: 20px;
  margin-bottom: -10px;
}
.installa-app i {
  font-size: 15px;
  color: grey;
}

.installa {
  align-self: center;
  margin-left: 10px;
}

.profile {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 20px;
  border-top: 1px solid grey;
  width: 250px;
}
.profile_john {
  align-self: center
}
.profile_john h5 {
  color: white;
  margin-left: 5px;
}
.profile img {
  width: 30px;
  background-color: grey;
  border-radius: 100%;
}
.profile_img,
.profile_john {
  margin-top: 10px;
}
/* MAIN NAV */


/* MAIN UPGRADE */
.main_upgrade {
 width: calc(100% - 300px);
 height: 70px;
 margin-left: 300px;
 background: #101017;
}

.upgrade {
  float: right;
  margin: 18px 30px;
}

.btn_upgrade {
  padding: 5px 40px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #22222e;;
  color: white;
  border-color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn_upgrade:hover {
  transform: scale(1.1);
}
/* MAIN UPGRADE */

/* MAIN CONTENT */





/* FINE MAIN CONTENT */


/* FOOTER PLAY */
footer {
 position: fixed;
 bottom: 0;
 left: 0;
 height: 90px;
 width: 100%;
 background-color: blue;
}
/* FOOTER */

@media screen and (max-width: 767px) {
  .main_nav {
    max-width: 50%;
  }
  .installa-app {
    flex-direction: column;
  }
  .profile {
    flex-direction: column;
  }
}
